body {
    padding-top: 60px;
    padding-bottom: 67px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', 'Georgia', serif;
}

footer {
    background: white;
}

textarea {
    resize: none;
}

.sidebar-nav {
    padding: 9px 0;
}

/*end alignment*/

.jumbotron {
    font-size: 5em;
    /*color: green;*/
}

#search-title, #search-form {
    text-align: center;
}

#search-title {
    margin-top: 12em;
    margin-bottom:5em;
}

.search-index {
    font-size: 18pt;
    line-height: normal;
    height: 27px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 30px;
}

.section-heading {
    margin-top: 30px;
    margin-bottom: 5px;
}

.search-options-heading {
    margin-top: 0;
}

.search-results-heading {
    margin-top: 60px;
}

.sidebar {
    width: 180px;
}

#search-btn {
    margin-left: 1em;
}

.registration-section {
    margin-top: 15px;
}

.footer-list {
    text-align: center;
}

.footer-list li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

.plan h1 { 
    padding-bottom: 15px;
}

.plan-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.plan-clicked div {
    border-color : green;
    border-width: 2px;
}

.registration-submit {
    text-align: center;
}


.footer-line {
    margin-top: 0;
}

.genre-list {
    padding-left: 0;
}

.genre-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.genre-list .divider {
    padding: 0;
}


.book-item {
    padding-top: 30px;
}

.cover-image {
   padding-top: 4px; 
}

.navbar-search .search-query {
    background-color: #005E00;
}

.book {
    padding-bottom: 30px;
}

.book-description {
    text-align: justify;
    text-justify: inter-word;
}

.published-date {
    padding-right: 10px;
}

.search-keywords {
    font-size: 18pt;
    line-height: normal;
    height: 27px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 30px;
}

.showing-x {
    positon: absolute;
    bottom: 0;
    font-size: 16px;
    color: #C0C0C0;
    padding-top: 13px;
}

.return-link {
    padding-bottom: 20px;
}

.top-pagination {
    margin: 0px;
}

#info p {
    font-size: 14px;
    padding-top: 50px;
    text-align: center;
}

#search-form p {
    font-size: 14px;
    padding-bottom: 5px;
}

#advanced-search .form-actions {
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}

.featured-book-title {
    padding-left: 37px;
}

.featured-book-author {
    padding-left: 37px;
}

.featured-book-rating {
    padding-left: 37px;
    padding-bottom: 5px;
}

.section-divider {
    /*padding-top: 0;*/
    margin-top: 0;
}